<select name="bankCode">
    <option value="044">Access Bank</option>
    <option value="023">Citibank Nigeria</option>
    <option value="063">Diamond Bank</option>
    <option value="050">Ecobank Nigeria</option>
    <option value="084">Enterprise Bank</option>
    <option value="070">Fidelity Bank</option>
    <option value="011">First Bank of Nigeria</option>
    <option value="214">First City Monument Bank</option>
    <option value="058">Guaranty Trust Bank</option>
    <option value="030">Heritage Bank</option>
    <option value="082">Keystone Bank</option>
    <option value="014">MainStreet Bank</option>
    <option value="076">Skye Bank</option>
    <option value="221">Stanbic IBTC Bank</option>
    <option value="068">Standard Chartered Bank</option>
    <option value="232">Sterling Bank</option>
    <option value="032">Union Bank of Nigeria</option>
    <option value="033">United Bank for Africa</option>
    <option value="215">Unity Bank</option>
    <option value="035">Wema Bank</option>
    <option value="057">Zenith Bank</option>
</select>