<header class="main-header">
    <nav class="main-header--nav">
        <ul class="main-header--item__list">
            <li class="main-header--item">
                <a href="#">Bakeri</a>
            </li>
        </ul>
    </nav>
</header>